<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<ui:composition template="layout.xhtml">
    <ui:define name="title">Register User</ui:define>
    <ui:define name="content">
        <h:form id = "registerForm">
        <h:panelGrid columns="2">
            <h:outputText value="Username: "/>
            <h:inputText id = "userName" value="#{loginController.formUsername}"/>

            <h:outputText value="First name: " />
            <h:inputText id ="firstName" value="#{loginController.formFirstName}"/>

            <h:outputText value="Last name: " />
            <h:inputText id="lastName" value="#{loginController.formLastname}"/>

            <h:outputText value="Password: "/>
            <h:inputSecret id="password" value="#{loginController.formPassword}"/>

            <h:outputText value="Confirm password: "/>
            <h:inputSecret id="confirmPassword" value="#{loginController.formConfirmPassword}"/>

            <h:commandButton value="Register" id="regUserBtn" action="#{loginController.createUser}"/>
        </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>
</html>
