<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
>
<ui:composition template="layout.xhtml">
    <ui:define name="title">MyCantina Dishes</ui:define>
    <ui:define name="content">
        <c:if test="#{loginController.loggedIn}">
        <h:form id = "createDishForm">
            <h:panelGrid columns="2">
                <h:outputText value="Name of dish: "/>
                <h:inputText value="#{dishController.formName}" id = "dishName"/>
                <h:outputText value="Description: " />
                <h:inputText value="#{dishController.formDescription}" id = "dishDescription"/>
            </h:panelGrid>
            <h:commandButton value="Create" id = "createBtn" action="#{dishController.addDish}"/>
        </h:form>


    <c:set var = "dishList" value="#{dishController.allDishes}"/>
    <c:choose>
        <c:when test="#{dishList.size() == 0}">
            <h:outputText value="No dishes to display yet =/"/>
        </c:when>
        <c:otherwise>
            <h:dataTable value="#{dishList}" var="dish" border="1" id="dishTable">
                <h:column>
                    <f:facet name="header">Name</f:facet>
                    <h:outputText value="#{dish.name}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Description</f:facet>
                    <h:outputText value="#{dish.description}"/>
                </h:column>
            </h:dataTable>
        </c:otherwise>
    </c:choose>
        </c:if>
    </ui:define>
</ui:composition>
</html>
