<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0-SNAPSHOT Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="layout.xhtml">
    <ui:define name="title">MyCantina Home Page</ui:define>
    <ui:define name="content">
        <c:if test="#{loginController.loggedIn}">
        <h:link value="Link to Dishes" outcome="dishes.jsf" id="dishesLink"/>
        <br/>
        <h:link value="Link to Menu" outcome="menus.jsf" id="menusLink"/>
        <hr/>
        </c:if>
        <c:choose>
            <c:when test="#{!menuController.hasMenus()}">
                <h:outputText value="No menus avaialable =/"/>
            </c:when>
            <c:otherwise>
                <h:form id = "changeDateForm">
                <h:commandLink id="showDefault" value="Show default" action="#{menuController.editMenuChoice(0)}"/>

                <br/>
                <c:if test="#{menuController.hasNext()}">
                    <h:commandLink id = "showNext" value="Show next #{menuController.next.date.toString()}"
                                   action="#{menuController.editMenuChoice(1)}"/>
                    <br/>
                </c:if>

                    <c:if test="#{menuController.hasPrevious()}">
                        <h:commandLink id = "showPrevious" value="Show previous #{menuController.previous.date.toString()}" action="#{menuController.editMenuChoice(-1)}"/>
                    </c:if>

                <c:set value="#{menuController.currentMenu}" var="current"/>

                <h2>
                    <h:outputText value="Menu for #{current.date.toString()}" id = "menuDate"/>
                </h2>

                <h:dataTable var="dish" id="menuTable" value="#{current.dishes}" border="1">
                    <h:column>
                        <f:facet name="header">Name</f:facet>
                        <h:outputText id="dishName" value="#{dish.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Description</f:facet>
                        <h:outputText id="dishDescription" value="#{dish.description}"/>
                    </h:column>
                </h:dataTable>
                </h:form>
            </c:otherwise>
        </c:choose>
    </ui:define>
</ui:composition>
</html>