<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
    <title>
        <ui:insert name="title">Defualt title</ui:insert>
    </title>
</h:head>

<h:body>
    <h:outputText value="MyCantina Application"/>
    <hr/>
    <h:link value="Home" outcome="home.jsf"/>

    <h1>
        <ui:insert name="title">Default title</ui:insert>
    </h1>
    <c:choose>
        <c:when test="#{loginController.loggedIn}">
            <h:outputText id = "signedInUser" value="Signed in as #{loginController.loggedOnUser}"/>
            <h:form id = "logOutForm">
            <h:commandButton id = "logOut" value="Log out" action="#{loginController.logOut}"/>
            </h:form>
        </c:when>
        <c:otherwise>
            <h:outputText id = "notLoggedIn" value="You are not signed in, login or register to get chef-access"/>
            <br/>
            <h:link id="loginLink" value="login" outcome="login.jsf"/>
            <br/>
            <h:link id="createUserLink" value="register" outcome="createUser.jsf"/>
        </c:otherwise>
    </c:choose>

    <hr/>
    <ui:insert name="content">
    </ui:insert>
</h:body>
</html>
