<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="layout.xhtml">
    <ui:define name="title">Login page</ui:define>
    <ui:define name="content">
        <h:form id = "loginForm">
            <h:column>
                <h:outputText value="Username:"/>
                <h:inputText id = "username" value="#{loginController.formUsername}"/>
            </h:column>
            <br/>
            <h:column>
                <h:outputText value="Password:"/>
                <h:inputSecret id="password" value="#{loginController.formPassword}"/>
            </h:column>
            <h:commandButton value="Sign in" id="signInBtn" action="#{loginController.login()}"/>
        </h:form>
    </ui:define>

</ui:composition>
</html>
