<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
>
<ui:composition template="layout.xhtml">
    <ui:define name="title">MyCantina Menus</ui:define>
    <ui:define name="content">
        <c:if test="#{loginController.loggedIn}">
        <h:form id="createMenu">
            <h:outputText value="Date:"/>
            <h:inputText value="#{menuController.formDate}" id = "date"/>
            <h:commandButton id = "createBtn" value="create" action="#{menuController.addMenu}"/>


            <c:set var="dishList" value="#{menuController.allDishes}"/>

            <c:choose>
                <c:when test="#{dishList.size()== 0}">
                    <br/>
                    <h:outputText value="you need to create dishes first"/>
                </c:when>
                <c:otherwise>
                    <h:dataTable value="#{dishList}" var="dish" border="1" id="menuDishTable">
                        <h:column>
                            <f:facet name="header">Name</f:facet>
                            <h:outputText value="#{dish.name}" id = "dishName"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Include?</f:facet>
                            <h:selectBooleanCheckbox id="includeCheck"
                                                     value="#{menuController.menuDishMap[dish.name]}"/>
                        </h:column>
                    </h:dataTable>
                </c:otherwise>
            </c:choose>
        </h:form>
        </c:if>
    </ui:define>
</ui:composition>
</html>
